.stage {
    flex-direction: column;

    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.featureStack {

    width: 46.5%;

    @media (min-width: 600px) {
        width: 31%

    }

}

.mainColumn {
    flex-shrink: 1;
    flex-basis: 75%;
}

.sidebar {
    flex-basis: 25%;
    flex-shrink: 3;
}


.popularFeatures {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.sectionTitle {
    font-size: 0.85rem;
    line-height: 1.1;

    @media (min-width: 600px) {
        font-size: 1rem;
    }

    @media (min-width: 900px) {
        font-size: 1.25rem;
    }
}

.featureTitle {
    font-size: 1.25rem;
    line-height: 1;
    margin-top: 0.125em;

    @media (min-width: 600px) {
        font-size: 1.375rem;
    }

    @media (min-width: 900px) {
        font-size: 1.5rem;
    }
}

.popularFeatures .featureStack {

    width: 46.5%;

    @media (min-width: 600px) {
        width: 100%

    }

}

.featureImage_0 {
    border-radius: 3rem;

    @media (min-width: 600px) {
        border-radius: 3rem 0;
    }
}

.featureImage_1 {
    border-radius: 0 3rem;
}

.featureImage_2 {
    border-radius: 3rem 0;

    @media (min-width: 600px) {
        border-radius: 3rem 3rem 0 0;
    }
}

.featureImage_3 {
    border-radius: 0 3rem;

    @media (min-width: 600px) {
        border-radius: 3rem 0;
    }
}

.featureImage_4 {
    border-radius: 3rem 0;

    @media (min-width: 600px) {
        border-radius: 3rem 0;
    }
}

.featureImage_5 {
    border-radius: 0 3rem;

    @media (min-width: 600px) {
        border-radius: 0 0 3rem 3rem
    }
}

.featureImage_6 {
    border-radius: 3rem 0;

    @media (min-width: 600px) {
        border-radius: 0 3rem;
    }
}
